pipeline/PL_Copy_Dynamcally.json
{
	"name": "PL_Copy_Dynamcally",
	"properties": {
		"activities": [
			{
				"name": "GetMetadatainfo",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Files_lookup",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FilterCSVFiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetMetadatainfo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadatainfo').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name, '.csv')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}