pipeline/PL_SQL_TO_ADLS.json
{
	"name": "PL_SQL_TO_ADLS",
	"properties": {
		"activities": [
			{
				"name": "LookInfoTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select Table_Schema, Table_Name from Information_SCHEMA.TABLES where Table_Type = 'Base table'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_TABLES",
						"type": "DatasetReference",
						"parameters": {
							"SOURCESCHEMA": "\"",
							"SOURCETABLE": "\""
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookInfoTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookInfoTable').output.values",
						"type": "Expression"
					},
					"batchCount": 50,
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_TABLES",
									"type": "DatasetReference",
									"parameters": {
										"SOURCESCHEMA": {
											"value": "@item().Table_Schema",
											"type": "Expression"
										},
										"SOURCETABLE": {
											"value": "@item().Table_Name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_TO_PARQUET",
									"type": "DatasetReference",
									"parameters": {
										"TargetFileName": {
											"value": "@concat(toLower(item().Table_Name), formatDateTime(utcNow(), 'yyyymmdd'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}