vincloudfactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "vincloudfactory"
		},
		"LS_ADLS_CSV_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_CSV'"
		},
		"LS_ADLS_CSV_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://bigstore456.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_Copy_Activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyCSVFileToADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "sale_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sale_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "sale_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sale_date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "quarter",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "quarter",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "product_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "product_name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "category",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "storage",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "storage",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "color",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "color",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "unit_price_usd",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "unit_price_usd",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "discount_pct",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "discount_pct",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "units_sold",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "units_sold",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "discounted_price_usd",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "discounted_price_usd",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "revenue_usd",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "revenue_usd",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "currency",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "fx_rate_to_usd",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fx_rate_to_usd",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "revenue_local_currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "revenue_local_currency",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "sales_channel",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sales_channel",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "payment_method",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "payment_method",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "customer_segment",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "customer_segment",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "customer_age_group",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "customer_age_group",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "previous_device_os",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "previous_device_os",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "customer_rating",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "customer_rating",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "return_status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "return_status",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Read_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_CSV_Target",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DeleteFile",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyCSVFileToADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Read_CSV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Read_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV_Target')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_Target')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADLS_Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "apple_global_sales_dataset.csv",
						"folderPath": "Processed Files",
						"fileSystem": "big"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Read_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADLS_Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "apple_global_sales_dataset.csv",
						"fileSystem": "big"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_CSV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_CSV_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_CSV_accountKey')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}