vincloudfactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "vincloudfactory"
		},
		"LS_ADLS_CSV_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_CSV'"
		},
		"LS_AZURE_SQL_DATABASE_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_AZURE_SQL_DATABASE'"
		},
		"LS_ADLS_CSV_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://bigstore456.dfs.core.windows.net/"
		},
		"LS_AZURE_SQL_DATABASE_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "vin-server123.database.windows.net"
		},
		"LS_AZURE_SQL_DATABASE_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "vin-sql-db"
		},
		"LS_AZURE_SQL_DATABASE_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "vinay"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_COPY_FILES_TO_DYNAMIC_LOCATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetFILEMetadataINFO",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Files_lookup",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEachFILE",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetFILEMetadataINFO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFILEMetadataINFO').output.childItems",
								"type": "Expression"
							},
							"batchCount": 15,
							"activities": [
								{
									"name": "IfTYPEISFILE",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().type, 'File')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Copyfiles",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_SOURCE_FILE_POINTER",
														"type": "DatasetReference",
														"parameters": {
															"SOURCEFILENAME": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_TARGET_FILE_POINTER",
														"type": "DatasetReference",
														"parameters": {
															"TARGETFILENAME": {
																"value": "@item().name",
																"type": "Expression"
															},
															"TARGETFOLDERNAME": {
																"value": "@split(item().name, '.')[1]",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Deletefiles",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Copyfiles",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_SOURCE_FILE_POINTER",
														"type": "DatasetReference",
														"parameters": {
															"SOURCEFILENAME": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Files_lookup')]",
				"[concat(variables('factoryId'), '/datasets/DS_SOURCE_FILE_POINTER')]",
				"[concat(variables('factoryId'), '/datasets/DS_TARGET_FILE_POINTER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Copy_Activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyCSVFileToADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "sale_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sale_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "sale_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sale_date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "quarter",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "quarter",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "product_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "product_name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "category",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "storage",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "storage",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "color",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "color",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "unit_price_usd",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "unit_price_usd",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "discount_pct",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "discount_pct",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "units_sold",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "units_sold",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "discounted_price_usd",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "discounted_price_usd",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "revenue_usd",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "revenue_usd",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "currency",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "fx_rate_to_usd",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fx_rate_to_usd",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "revenue_local_currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "revenue_local_currency",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "sales_channel",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sales_channel",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "payment_method",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "payment_method",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "customer_segment",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "customer_segment",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "customer_age_group",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "customer_age_group",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "previous_device_os",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "previous_device_os",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "customer_rating",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "customer_rating",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "return_status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "return_status",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Read_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_CSV_Target",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DeleteFile",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyCSVFileToADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Read_CSV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Read_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV_Target')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Copy_Dynamcally')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetMetadatainfo",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Files_lookup",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "FilterCSVFiles",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetMetadatainfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetMetadatainfo').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@endswith(item().name, '.csv')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCSVFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FilterCSVFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterCSVFiles').output.value",
								"type": "Expression"
							},
							"batchCount": 8,
							"activities": [
								{
									"name": "CopyDynamicCSVFile",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_Dynamic_CSV_Fille_Migration",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_Dynamic_CSV_Fille_Migration_Target",
											"type": "DatasetReference",
											"parameters": {
												"TargetFileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "DeleteDynamicCsvFile",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "CopyDynamicCSVFile",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_Dynamic_CSV_Fille_Migration",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Files_lookup')]",
				"[concat(variables('factoryId'), '/datasets/DS_Dynamic_CSV_Fille_Migration')]",
				"[concat(variables('factoryId'), '/datasets/DS_Dynamic_CSV_Fille_Migration_Target')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SWITCHCASE_DEMO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetFILES",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Files_lookup",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEachFILE",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetFILES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFILES').output.childItems",
								"type": "Expression"
							},
							"batchCount": 10,
							"activities": [
								{
									"name": "IfFILE",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().type, 'File')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Switchcase",
												"type": "Switch",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"on": {
														"value": "@pipeline().parameters.FolderName",
														"type": "Expression"
													},
													"cases": [
														{
															"value": "RawDataset",
															"activities": [
																{
																	"name": "Copytorawdatasets",
																	"type": "Copy",
																	"dependsOn": [],
																	"policy": {
																		"timeout": "0.12:00:00",
																		"retry": 0,
																		"retryIntervalInSeconds": 30,
																		"secureOutput": false,
																		"secureInput": false
																	},
																	"userProperties": [],
																	"typeProperties": {
																		"source": {
																			"type": "BinarySource",
																			"storeSettings": {
																				"type": "AzureBlobFSReadSettings",
																				"recursive": true
																			},
																			"formatSettings": {
																				"type": "BinaryReadSettings"
																			}
																		},
																		"sink": {
																			"type": "BinarySink",
																			"storeSettings": {
																				"type": "AzureBlobFSWriteSettings"
																			}
																		},
																		"enableStaging": false
																	},
																	"inputs": [
																		{
																			"referenceName": "DS_SOURCE_FILE_POINTER",
																			"type": "DatasetReference",
																			"parameters": {
																				"SOURCEFILENAME": {
																					"value": "@item().name",
																					"type": "Expression"
																				}
																			}
																		}
																	],
																	"outputs": [
																		{
																			"referenceName": "DS_TARGET_FILE_POINTER",
																			"type": "DatasetReference",
																			"parameters": {
																				"TARGETFILENAME": {
																					"value": "@item().name",
																					"type": "Expression"
																				},
																				"TARGETFOLDERNAME": {
																					"value": "@pipeline().parameters.FolderName",
																					"type": "Expression"
																				}
																			}
																		}
																	]
																},
																{
																	"name": "DeleteFilesinRaw",
																	"type": "Delete",
																	"dependsOn": [
																		{
																			"activity": "Copytorawdatasets",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"policy": {
																		"timeout": "0.12:00:00",
																		"retry": 0,
																		"retryIntervalInSeconds": 30,
																		"secureOutput": false,
																		"secureInput": false
																	},
																	"userProperties": [],
																	"typeProperties": {
																		"dataset": {
																			"referenceName": "DS_SOURCE_FILE_POINTER",
																			"type": "DatasetReference",
																			"parameters": {
																				"SOURCEFILENAME": {
																					"value": "@item().name",
																					"type": "Expression"
																				}
																			}
																		},
																		"enableLogging": false,
																		"storeSettings": {
																			"type": "AzureBlobFSReadSettings",
																			"recursive": true,
																			"enablePartitionDiscovery": false
																		}
																	}
																}
															]
														},
														{
															"value": "StagedDatasets",
															"activities": [
																{
																	"name": "CopyintoStaged",
																	"type": "Copy",
																	"dependsOn": [],
																	"policy": {
																		"timeout": "0.12:00:00",
																		"retry": 0,
																		"retryIntervalInSeconds": 30,
																		"secureOutput": false,
																		"secureInput": false
																	},
																	"userProperties": [],
																	"typeProperties": {
																		"source": {
																			"type": "BinarySource",
																			"storeSettings": {
																				"type": "AzureBlobFSReadSettings",
																				"recursive": true
																			},
																			"formatSettings": {
																				"type": "BinaryReadSettings"
																			}
																		},
																		"sink": {
																			"type": "BinarySink",
																			"storeSettings": {
																				"type": "AzureBlobFSWriteSettings"
																			}
																		},
																		"enableStaging": false
																	},
																	"inputs": [
																		{
																			"referenceName": "DS_SOURCE_FILE_POINTER",
																			"type": "DatasetReference",
																			"parameters": {
																				"SOURCEFILENAME": {
																					"value": "@item().name",
																					"type": "Expression"
																				}
																			}
																		}
																	],
																	"outputs": [
																		{
																			"referenceName": "DS_TARGET_FILE_POINTER",
																			"type": "DatasetReference",
																			"parameters": {
																				"TARGETFILENAME": {
																					"value": "@item().name",
																					"type": "Expression"
																				},
																				"TARGETFOLDERNAME": {
																					"value": "@pipeline().parameters.FolderName",
																					"type": "Expression"
																				}
																			}
																		}
																	]
																},
																{
																	"name": "DeleteStaged",
																	"type": "Delete",
																	"dependsOn": [
																		{
																			"activity": "CopyintoStaged",
																			"dependencyConditions": [
																				"Succeeded"
																			]
																		}
																	],
																	"policy": {
																		"timeout": "0.12:00:00",
																		"retry": 0,
																		"retryIntervalInSeconds": 30,
																		"secureOutput": false,
																		"secureInput": false
																	},
																	"userProperties": [],
																	"typeProperties": {
																		"dataset": {
																			"referenceName": "DS_SOURCE_FILE_POINTER",
																			"type": "DatasetReference",
																			"parameters": {
																				"SOURCEFILENAME": {
																					"value": "@item().name",
																					"type": "Expression"
																				}
																			}
																		},
																		"enableLogging": false,
																		"storeSettings": {
																			"type": "AzureBlobFSReadSettings",
																			"recursive": true,
																			"enablePartitionDiscovery": false
																		}
																	}
																}
															]
														}
													]
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FolderName": {
						"type": "string",
						"defaultValue": "DefaultFolder"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Files_lookup')]",
				"[concat(variables('factoryId'), '/datasets/DS_SOURCE_FILE_POINTER')]",
				"[concat(variables('factoryId'), '/datasets/DS_TARGET_FILE_POINTER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_Target')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADLS_Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "apple_global_sales_dataset.csv",
						"folderPath": "Processed Files",
						"fileSystem": "big"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Dynamic_CSV_Fille_Migration')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADLS_Datasets"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"fileSystem": "big"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Dynamic_CSV_Fille_Migration_Target')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TargetFileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADLS_Datasets"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().TargetFileName",
							"type": "Expression"
						},
						"folderPath": "ProcessedFiles",
						"fileSystem": "big"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Files_lookup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADLS_Datasets"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "big"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Read_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADLS_Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "apple_global_sales_dataset.csv",
						"fileSystem": "big"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SOURCE_FILE_POINTER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SOURCEFILENAME": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADLS_Datasets"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().SOURCEFILENAME",
							"type": "Expression"
						},
						"fileSystem": "big"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_TARGET_FILE_POINTER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TARGETFILENAME": {
						"type": "string"
					},
					"TARGETFOLDERNAME": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADLS_Datasets"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().TARGETFILENAME",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().TARGETFOLDERNAME",
							"type": "Expression"
						},
						"fileSystem": "big"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_CSV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_CSV_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_CSV_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AZURE_SQL_DATABASE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_AZURE_SQL_DATABASE_properties_typeProperties_server')]",
					"database": "[parameters('LS_AZURE_SQL_DATABASE_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_AZURE_SQL_DATABASE_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_AZURE_SQL_DATABASE_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_TABLES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AZURE_SQL_DATABASE",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SOURCESCHEMA": {
						"type": "string"
					},
					"SOURCETABLE": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SQl_DATSETS"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SOURCESCHEMA",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().SOURCETABLE",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AZURE_SQL_DATABASE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_TO_PARQUET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSV",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TargetFileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SQl_DATSETS"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().TargetFileName",
							"type": "Expression"
						},
						"folderPath": "SqlDatasets",
						"fileSystem": "big"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SQL_TO_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookInfoTable",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select Table_Schema, Table_Name from Information_SCHEMA.TABLES where Table_Type = 'Base table'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_TABLES",
								"type": "DatasetReference",
								"parameters": {
									"SOURCESCHEMA": "\"",
									"SOURCETABLE": "\""
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachTable",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookInfoTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookInfoTable').output.value",
								"type": "Expression"
							},
							"batchCount": 50,
							"activities": [
								{
									"name": "Copydata",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQL_TABLES",
											"type": "DatasetReference",
											"parameters": {
												"SOURCESCHEMA": {
													"value": "@item().Table_Schema",
													"type": "Expression"
												},
												"SOURCETABLE": {
													"value": "@item().Table_Name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SQL_TO_PARQUET",
											"type": "DatasetReference",
											"parameters": {
												"TargetFileName": {
													"value": "@concat(toLower(item().Table_Name), formatDateTime(utcNow(), 'yyyymmdd'))",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_TABLES')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_TO_PARQUET')]"
			]
		}
	]
}